<%- include('partials/header') %>
<div class="accueil">
    <div class="flex flex-col items-center">
        <div class="mt-2">
            <img src="img/cv.png" alt="logo de DevTonCV">
        </div>
        <div class="titreaccueil">
            <h1>Bienvenue sur DevTonCV !</h1>
        </div>
        <a href="/connecter"><button
                class="bg-orange-500 hover:bg-orange-700 border-solid border-2 border-white text-xl font-bold text-white py-4 px-16 mb-2 rounded-full">
                Connexion
            </button></a>
        <a href="/mdpperdu">
            <p class="text-white mb-6">Mot de passe oublié ?</p>
        </a>
        <a href="/create"><button
                class="bg-orange-500 hover:bg-orange-700 border-solid border-2 border-white text-xl font-bold text-white py-4 px-12 rounded-full">
                Créer votre CV
            </button></a>
    </div>
</div>
<%- include('partials/footer') %>