<%- include('partials/header') %>
<div class="connexion">
    <div class="flex flex-col items-center">
        <div class="mt-2">
            <img src="img/cv.png" alt="logo de DevTonCV">
        </div>
        <div class="titreconnexion">
            <h1>Connecte toi !</h1>
        </div>
        <form class="flex flex-col items-center" method="POST" action="/formconnect">
            <input
                class="mt-10 w-3/4 shadow appearance-none border-2 border-orange-500 rounded-full py-2 text-center text-xl leading-tight focus:outline-none focus:shadow-outline"
                type="email" placeholder="Adresse mail" name="email">
            <input
                class="mt-10 mb-12 w-3/4 shadow appearance-none border-2 border-orange-500 rounded-full py-2 text-center text-xl leading-tight focus:outline-none focus:shadow-outline"
                type="password" placeholder="Mot de Passe" name="password">
            <a href="/menuprincipal"><button
                    class="bg-orange-500 hover:bg-orange-700 border-solid border-2 border-white text-xl font-bold text-white py-2 px-16 mb-2 rounded-full">
                    Valider
                </button></a>
        </form>
    </div>
</div>
<%- include('partials/footer') %>