<%- include('partials/header') %>
<div class="hobbies">
    <h1 class="text-center font-bold text-3xl">Mes Hobbies</h1>
    <ul class="text-center">
        
        <% Hobbies.forEach(function(hobbie) { %>
            
           <li> <%=hobbie.name%> :  <%=hobbie.description%></li><br>
        <% }) %>
    </ul>
    
</div>
<%- include('partials/footer') %>