<%- include('partials/header') %>
<div class="menuprincipal">

    <div class="m-auto text-center p-6">
        <h1 class="text-white font-bold"><%=lastname%> <%=firstname%> </h1>
        <h1 class="text-white font-bold"><%=cv%></h1>
        <p class="text-white"><%=birthday%></p>
        <p class="text-white"><%=email%></p>
        <p class="text-white"><%=address%></p>
        <p class="text-white"><%=postalCode%></p>
        <p class="text-white"><%=city%></p>
    </div>
    <div class="flex flex-col items-center mt-16">
        <a href="/diplomeformation"><button
                class="bg-orange-500 hover:bg-orange-700 border-solid border-2 border-white text-xl font-bold text-white px-16 mb-6 rounded-full">
                Diplomes <br>formations
            </button></a>
        <a href="/experiencesprofessionnelles"><button
                class="bg-orange-500 hover:bg-orange-700 border-solid border-2 border-white text-xl font-bold text-white px-10 mb-6 rounded-full">
                Expériences <br>Professionnelles
            </button></a>
        <a href="/competences"><button
                class="bg-orange-500 hover:bg-orange-700 border-solid border-2 border-white text-xl font-bold text-white py-4 px-12 mb-6 rounded-full">
                Compétences
            </button></a>
        <a href="/projets"><button
                class="bg-orange-500 hover:bg-orange-700 border-solid border-2 border-white text-xl font-bold text-white py-4 px-16 mb-6 rounded-full">
                Mes projets
            </button></a>
        <a href="/hobbies"><button
                class="bg-orange-500 hover:bg-orange-700 border-solid border-2 border-white text-xl font-bold text-white py-4 px-20 mb-2 rounded-full">
                Hobbies
            </button></a>
    </div>
</div>
<%- include('partials/footer') %>