<%- include('partials/header') %>

<div class="modifier">
<form action="/projets/edit" method="POST">
    <input type="hidden" value="<%=projets.idProjects%>" id="id" name="id">
    <label for="title">Titre</label>
    <input type="text"  name="title" id="title" maxlength="255" value="<%=projets.title%>"><br>
    <label for="subtitle">Sous-titre</label>
    <input type="text"  name="subtitle" id="subtitle" maxlength="255" value="<%=projets.subtitle%>"><br>
    <label for="link">Lien du projet</label>
    <input type="text"  name="link" id="link" value="<%=projets.link%>"><br>
    <label for="description">Description</label>
    <input type="text"  name="description" id="description" value="<%=projets.description%>"><br>
    <button type="submit">Modifier</button>
</form>
</div>

<%- include('partials/footer') %>