<%- include('partials/header') %>
<div class="projets">
<h1 class="text-center font-bold text-3xl mb-4">Mes Projets</h1>
<div>
<ul class="text-center">
        
    <% Projects.forEach(function(projet) { %>
       <a href="/projets/update/<%=projet.idProjects%>">
        <img src="/img/pencil.png" width="30" height="30">
    </a> 
    <a href="/projets/delete/<%=projet.idProjects%>">
        <img src="/img/cross.jpg" width="30" height="30">
    </a>
       <li> <%=projet.title%> :  <%=projet.subtitle%></li><br>
       <a href="<%=projet.link%>">Lien vers le code du projet</a>
       <p class="mt-4"><%=projet.description%></p><br>
    <% }) %>
</ul>
</div>
</div>
<%- include('partials/footer') %>