@font-face{
  font-family: "chewy";
  src: url("fonts/chewy/Chewy-Regular.ttf");
}
@font-face{
  font-family: "montserrat";
  src: url("fonts/montserrat/Montserrat-Light.ttf");
}
body{
  font-family: "montserrat";
}
.accueil{
  background-color: #525151;
  min-height: 100vh;
  width: 100%;
  background-size: cover;  
}
.titreaccueil{
  color: blanchedalmond;
  font-family: "chewy";
  font-size: 32px;
  margin-bottom: 20%;
  margin-top: 10%;
}
.connexion{
  background-color: #525151;
  min-height: 100vh;
  width: 100%;
  background-size: cover;  
}
.titreconnexion{
  color: blanchedalmond;
  font-family: "chewy";
  font-size: 32px;
  margin-bottom: 10%;
  margin-top: 10%;
}
.menuprincipal{
  background-color: #525151;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  font-family: "montserrat";  
}
.hobbies{
  color: blanchedalmond;
  background-color: #525151;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  font-family: "montserrat";
}
li{
  list-style-type: disc;
}
.projets{
  color: blanchedalmond;
  background-color: #525151;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  font-family: "montserrat";
}
.modifier{
  color: blanchedalmond;
  background-color: #525151;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  font-family: "montserrat";
}